@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --normal-width: 30vw;
}

* {
    display: inline-block;
    transition: transform 0.1s ease;
}

body {
    color: #d0d0d0;
    background-color: #0d0d0d;
    font-family: "Ubuntu mono", monospace;

    overflow-x: hidden;

    margin: 0;
}

body.light-mode {
    color: black;
    background-color: #f0f0f0;
}

a {
    color: rgb(132, 40, 177);
    text-decoration: unset;
}

.wrapper {
    display: block;
    min-height: 100vh;
    width: 100vw;
}

.bg {
    position: absolute;
}

.nav-bar {
    display: flex;
    position: fixed;

    top: 0;
    left: 0;

    width: 100vw;
    height: 8vh;

    align-items: center;
    justify-content: center;

    gap: 0.4vw;

    background-color: rgba(19, 19, 19, 0.5);
    backdrop-filter: blur(8px);

    z-index: 1001;
}

.nav-bar a {
    all: unset;
    position: relative;

    padding: 0.6vw;

    color: #9a9a9a;

    border-radius: 10px;
}

.nav-bar a:hover {
    background-color: #242424;
    color: #f0f0f0;

    cursor: pointer;
}

.nav-bar .selected {
    color: #f0f0f0;
}

.nav-bar img {
    width: 24px;
    height: 24px;

    border-radius: 100px;

    cursor: pointer;

    margin-right: 1vw;
}

footer {
    position: relative;

    margin-top: 40px;
    background-color: #0c0c0c;

    padding-bottom: 20px;
    text-align: center;

    width: 100vw;
    min-height: 90px;

    border-top: rgb(19, 19, 19) 2px solid;

    z-index: 1001;
}

#holds {
    position: absolute;
    left: 0;
    top: 0;
}

.name {
    position: relative;

    font-size: 2.2vw;
    max-width: calc(var(--normal-width) - 0.2vw);

    bottom: 10vh;
}

.tag {
    position: relative;

    font-size: 5.5vw;

    max-width: fit-content;
    bottom: 15vh;

    font-family: "Righteous", sans-serif;
}

.description {
    position: relative;

    font-size: 1vw;

    bottom: 8.5vh;
    max-width: 24vw;
}

.social-img:hover {
    transform: scale(1.04);
}

.main-content {
    display: grid;
    align-content: center;

    float: right;
    padding-left: 2vw;
}

.main-container {
    display: inline;
    position: absolute;

    width: fit-content;

    left: 50%;
    top: 45%;

    transform: translate(-50%, -45%);
}

.pfp {
    position: relative;

    border-radius: 100px;

    width: 200px;
    height: 200px;

    bottom: 2.5vh;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-pfp {
    position: absolute;

    border-radius: 100px;

    width: 200px;
    height: 200px;

    right: 20vw;
    top: 40vh;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-container {
    position: absolute;
    display: grid;

    top: 20vh;

    left: 50%;
    transform: translateX(-50%);
}

.contact-container .socials {
    margin-top: 2vh;
    bottom: 0;

    justify-self: center;
}

.ind {
    color: gray;
}

.socials {
    position: relative;
    font-size: 0;

    bottom: 4.5vh;
}

.social-link {
    padding-left: 3px;
    padding-right: 3px;
}

.social-img {
    width: 40px;
    height: 40px;

    margin-left: 2px;
    margin-right: 2px;

    filter: brightness(100) contrast(50);
}

#climber {
    position: absolute;
    pointer-events: none;

    border-radius: 100px;
    z-index: -1;
}

.fade-border {
    position: relative;
    padding-bottom: 10px;
    margin-top: 10px;
}

.fade-border::after {
    content: "";
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 2px;

    margin-bottom: 10px;

    background: linear-gradient(to right, 
        transparent 0%,
        rgb(90, 90, 90) 8%,
        rgb(90, 90, 90) 92%,
        transparent 100%
    );
}

.skillset {
    position: relative;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    text-align: left;
    align-items: center;

    max-width: var(--normal-width);

    background-color: rgba(127, 127, 127, 0.08);
    border-radius: 10px;
}

.sk {
    position: relative;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 0.5vw;
}

.logo {
    width: 40px;
    height: 40px;
}

.idf {
    font-size: 0.8vw;
    color: rgb(127, 127, 127);
}

.content {
    display: flex;
    position: absolute;

    flex-direction: column;

    top: 101%;
    left: 50%;

    transform: translateX(-50%);

    width: fit-content;

    align-items: center;
    justify-content: center;
    align-content: center;

    margin-bottom: 20px;
}

.all-projects {
    position: relative;

    left: 50%;
    transform: translateX(-50%);

    top: 12vh;
    margin-bottom: 12vh;
}

.project {
    display: block;
    position: relative;

    border: rgb(5, 5, 5) 2px solid;
    border-radius: 8px;

    background-color: rgba(127, 127, 127, 0.08);

    width: var(--normal-width);
    height: fit-content;

    cursor: pointer;

    margin-bottom: 0.2vh;
}

.project:hover {
    transform: scale(1.01);
}

.project .date {
    display: block;
    position: relative;

    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8vw;

    top: 0.2vh;
    left: 0.5vw;
}

.project .see-more {
    position: relative;
    float: right;

    width: 20px;
    height: 20px;
    bottom: 20px;

    margin-right: 5px;
}

.project .proj-name {
    position: relative;

    color: white;

    top: 0.2vh;
    left: 0.5vw;

    max-width: calc(var(--normal-width) - 3vw);

    font-size: 1.2vw;
}

.project .proj-description {
    position: relative;

    margin-top: 5vh;
    left: 0.5vw;
}

.project .proj-img {
    display: block;

    margin-top: 10px;
    max-width: calc(var(--normal-width) - 20px);

    margin-left: auto;
    margin-right: auto;
}

.large {
    font-size: 20pt !important;

    margin-top: 3vh !important;
    margin-bottom: 3vh !important;
}

.label {
    width: var(--normal-width);
    display: block;

    margin-top: 5vh;

    font-size: 1vw;
}

.label .text {
    color: white;
    font-size: inherit;
}

.label .more {
    color: gray;
    font-size: inherit;

    float: right;

    text-decoration: underline;
}

.label .more:hover {
    color: #c0c0c0;
}

.spacing {
    height: 8vh;
}

.small {
    width: 24px;
    height: 24px;
    font-size: 4vw;
    padding: 0.2vw;
}

.max_width {
    width: max-content;
}

@media only screen and (max-width: 900px) {
    :root {
        --normal-width: 80vw;
    }
    .nav-bar {
        gap: 4vw;
    }

    .nav-bar a {
        padding: 2vw;
    }

    .tag {
        font-size: 8.5vw;

        bottom: 0;
        left: 50%;

        transform: translateX(-50%);
    }

    .name {
        font-size: 1.6vh;

        top: 0.5vh;
        bottom: 0;
        left: 50%;

        text-align: center;

        transform: translateX(-50%);
    }

    .description {
        font-size: 1.4vh;
        max-width: 100%;

        top: 2vh;
        bottom: 0;

        text-align: center;
    }

    .socials {
        position: relative;

        top: 2vh;

        width: max-content;
    }

    .pfp {
        left: 50%;
        transform: translateX(-50%);
    }

    .contact-pfp {
        top: 90px;
        left: 50%;
        right: 0;
        transform: translateX(-50%);
    }

    .contact-container {
        top: 32vh;
        width: var(--normal-width);
    }

    .skillset {
        font-size: 1.2vh;
        top: 2.5vh;
        max-width: var(--normal-width);
    }

    .idf {
        font-size: 2.2vw;
    }

    .ind {
        position: relative;
        top: 5vh;

        width: max-content;
    }

    .project .date  {
        font-size: 3.2vw;

        left: 3vw;
    }

    .project .proj-name {
        font-size: 4vw;

        left: 3vw;
    }

    .project .proj-description {
        margin-top: 2vh;

        left: 3vw;
    }

    .label .text {
        font-size: 5vw;
    }

    .label .more {
        font-size: 5vw;
    }

    .large {
	      font-size: 5vw !important;

	      margin-top: 0vh !important;
	      margin-bottom: 0vw !important;
    }

    .spacing {
        height: 4vh;
    }
}
