{% extends 'base.html' %}

{% set selectedPage = 'contact' %}
{% block page %}Contact{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="contact-container">
        <p>You can follow me on my socials below</p>
        {% for social in socials %}
        <span>- <a href="https://{{ social }}">{{ social }}</a></span>
        {% endfor %}
        <p>If you wish to contact me directly please use the following email</p>
        <a href="mailto:{{ mail }}">{{ mail }}</a>
        <img class="contact-pfp" src="{{ url_for('static', filename='media/logo.svg') }}">
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
